
*{
    margin:50
    padding:10
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background:rgba(229, 175, 233, 0.267)
}
header{
    display:flex;
    justify-content:space-between;
    align-items:
    center;
    background:#b862e0;
    color:#452b3c;
    padding:15px 40px
    
}
footer{
    text-align: center;
    background-color: #d5abe9;
    color: rgb(133, 149, 149);
    padding:15px;
    margin-top: 20px
}
.logo{
    display:contents;
    align-items: center;
    gap:10px;
}
.logo.c{
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: aqua;
    color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
nav ul{
    display: flex;
    list-style: none;
    gap:15px
}
nav a{
    text-decoration: none;
    color: rgb(90, 215, 215);
    padding: 8px 15px;
    border-radius: 20px;
}
.active,nav a:hover{
    background: #8646cb;
    color: rgb(14, 54, 66);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;

}
.hero img{
    width:420px;
    border-radius: 20px;

}
.btn{
    background: #d5abe9;
    color: aqua;
    padding:10px 18px;
    border-radius: 20px;
    text-decoration: none;
}
.features,.books{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:30px;
}
.form{
    background:#b9acc6;
    padding: 25px;
    border-radius:10px;
    width:420px;
    display:flex;
    flex-direction: column;
    gap:12px;
}
.form input,.form textarea,.form select{
    padding:10px;

}
.form button{
    padding:10px;
    background: #b97fc9;
    color: rgb(145, 217, 235);
    border:none;
}